@tailwind base;
@tailwind components;
@tailwind utilities;


.totop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  color: red;
}

.moon{
  color: gray;
}

.sun{
  color: yellow;
}